includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon # Include if using Carbon
parameters:
    paths:
        - modules/
    level: 9 # Analysis strictness level (0-9, 9 being strictest)
